$primary: #767676;
$lightgray-border: #c3c3c3;
$lightgray-bg: #dcdcdc;
$darkgray: #777777;
$white: #fff;
$lightblack: #00000080;
$lightred-text: #dc7f7f;
$lightred-shadow: rgba(228, 106, 106, 0.75);
$lightred: #ff8383;