@font-face {
  font-family: 'Open Sans';
  src: url(./assets/fonts/OpenSans-Light.ttf) format("truetype"); }

* {
  box-sizing: border-box; }

html,
button,
input {
  font: 14px/22px "PT Sans", sans-serif;
  color: #767676; }

button,
input {
  cursor: pointer;
  outline: none; }

body {
  -webkit-tap-highlight-color: transparent;
  -webkit-text-size-adjust: none; }

a {
  cursor: pointer; }

h1,
h2,
h3,
h4,
h5,
h6,
ul,
ol,
p,
body {
  margin: 0;
  padding: 0; }

.grid-container {
  height: 100vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: [start] 1fr [col-line-2] 980px [col-line-3] 1fr [end];
      grid-template-columns: [start] 1fr [col-line-2] 980px [col-line-3] 1fr [end];
  -ms-grid-rows: 230px (auto)[4] 220px;
      grid-template-rows: 230px repeat(4, auto) 220px;
  grid-template-areas: 'header' 'nav' 'slider' 'secondary-nav' 'content' 'footer'; }
  .grid-container .grid-item-1 {
    grid-area: header;
    background-color: #dcdcdc;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [header-start] 1fr [header-line-2] 980px [header-line-3] 1fr [header-end];
        grid-template-columns: [header-start] 1fr [header-line-2] 980px [header-line-3] 1fr [header-end];
    -ms-flex-line-pack: center;
        align-content: center; }
    .grid-container .grid-item-1 .header {
      grid-column: header-line-2 / header-line-3;
      padding: 10px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: [line-1] 1fr [line-2] 1fr [line-3];
          grid-template-columns: [line-1] 1fr [line-2] 1fr [line-3]; }
      .grid-container .grid-item-1 .header__left-block {
        grid-column: line-1 / line-2; }
      .grid-container .grid-item-1 .header__right-block {
        grid-column: line-2 / line-3; }
  .grid-container .grid-item-2 {
    height: 80px;
    grid-area: nav;
    background-color: #767676;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [nav-start] 1fr [nav-line-2] 980px [nav-line-3] 1fr [nav-end];
        grid-template-columns: [nav-start] 1fr [nav-line-2] 980px [nav-line-3] 1fr [nav-end]; }
    .grid-container .grid-item-2 .nav {
      grid-column: nav-line-2 / nav-line-3;
      -ms-flex-item-align: center;
          -ms-grid-row-align: center;
          align-self: center;
      justify-self: center; }
  .grid-container .grid-item-3 {
    height: 400px;
    grid-area: slider;
    position: relative;
    overflow: hidden; }
  .grid-container .grid-item-4 {
    height: 30px;
    grid-area: secondary-nav;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center; }
  .grid-container .grid-item-5 {
    height: 1350px;
    grid-area: content;
    padding-top: 20px;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [content-start] 1fr [content-line-2] 2fr [content-end];
        grid-template-columns: [content-start] 1fr [content-line-2] 2fr [content-end]; }
    .grid-container .grid-item-5__left-block {
      grid-column: content-start / content-line-2; }
    .grid-container .grid-item-5__center-block {
      grid-column: content-line-2 / content-end;
      display: -ms-grid;
      display: grid;
      -ms-grid-rows: [start] 1fr [row-2] 110px [row-3] 440px [end];
          grid-template-rows: [start] 1fr [row-2] 110px [row-3] 440px [end]; }
      .grid-container .grid-item-5__center-block #card-container {
        grid-row: start / row-2;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: (250px)[3];
            grid-template-columns: repeat(3, 250px);
        -ms-grid-rows: (380px)[2];
            grid-template-rows: repeat(2, 380px);
        grid-gap: 20px; }
      .grid-container .grid-item-5__center-block .pagination {
        grid-row: row-2 / row-3;
        padding-top: 30px;
        justify-self: center; }
      .grid-container .grid-item-5__center-block .company-description {
        grid-row: row-3 / end;
        display: -ms-grid;
        display: grid;
        -ms-grid-columns: 1fr 1fr;
            grid-template-columns: 1fr 1fr;
        grid-column-gap: 40px;
        border-top: 1px solid #767676;
        padding-top: 30px; }
  .grid-container .grid-item-6 {
    grid-area: footer;
    background-color: #767676;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: [footer-start] 1fr [footer-line-2] 980px [footer-line-3] 1fr [footer-end];
        grid-template-columns: [footer-start] 1fr [footer-line-2] 980px [footer-line-3] 1fr [footer-end];
    -ms-flex-line-pack: center;
        align-content: center; }
    .grid-container .grid-item-6 .footer {
      grid-column: footer-line-2 / footer-line-3;
      padding: 10px;
      display: -ms-grid;
      display: grid;
      -ms-grid-columns: [line-1] 1fr [line-2] 1fr [line-3] 1fr [line-4];
          grid-template-columns: [line-1] 1fr [line-2] 1fr [line-3] 1fr [line-4]; }
      .grid-container .grid-item-6 .footer__left-block {
        grid-column: line-1 / line-2; }
      .grid-container .grid-item-6 .footer__centralBlock {
        grid-column: line-2 / line-3; }
      .grid-container .grid-item-6 .footer__right-block {
        grid-column: line-3 / line-4; }
  .grid-container .grid-item-1,
  .grid-container .grid-item-2,
  .grid-container .grid-item-3,
  .grid-container .grid-item-6,
  .grid-container .grid-item-7 {
    grid-column: start / end; }
  .grid-container .grid-item-4,
  .grid-container .grid-item-5 {
    grid-column: col-line-2 / col-line-3; }
  .grid-container .grid-item-7 {
    grid-row: 1 / 8;
    background-color: #00000080;
    display: none;
    z-index: 1; }
    .grid-container .grid-item-7_shown {
      display: block;
      animation: feedback 0.3s linear; }
  .grid-container_hidden {
    overflow: hidden; }
    .grid-container_hidden > div:not(.grid-item-7) {
      pointer-events: none; }

@keyframes feedback {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.header__left-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center; }
  .header__left-block .logo {
    width: 100px;
    height: 100px;
    background-color: #767676;
    overflow: hidden;
    color: #fff; }
    .header__left-block .logo > img {
      width: 100%;
      height: 100%; }
  .header__left-block .content {
    margin-left: 10px;
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%; }
    .header__left-block .content .title {
      font-size: 30px;
      font-weight: bold;
      line-height: 26px;
      margin-bottom: 10px; }

.header__right-block {
  line-height: 46px;
  text-align: right; }
  .header__right-block .phone {
    font-family: "Open Sans", Arial, Helvetica, sans-serif;
    font-size: 40px; }
  .header__right-block .feedback-link {
    color: #767676;
    font-size: 24px;
    font-weight: bold;
    text-decoration: underline dashed;
    cursor: pointer; }

.nav {
  display: -ms-flexbox;
  display: flex; }
  .nav__item {
    list-style: none;
    padding: 0 20px;
    position: relative;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center; }
    .nav__item > a {
      color: #fff;
      text-decoration: none;
      font-size: 30px; }
    .nav__item_active {
      text-decoration: underline; }
    .nav__item:not(:last-child):after {
      position: absolute;
      content: '';
      width: 2px;
      height: 30px;
      right: 0;
      top: 50%;
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
      background-color: #fff; }
    .nav__item:first-child {
      padding-left: 0; }
    .nav__item:last-child {
      padding-right: 0; }

.slider {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }
  .slider__photo {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
    opacity: 0;
    transition: 0.5s; }
    .slider__photo_shown {
      opacity: 1;
      transition: 1.5s;
      transition-delay: 0.5s; }
  .slider__arrows {
    width: 980px;
    min-width: 980px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-align: center;
        align-items: center;
    z-index: 1; }
    .slider__arrows > img {
      width: 34px;
      height: 61px;
      cursor: pointer; }

.secondary-nav {
  display: -ms-flexbox;
  display: flex;
  list-style: none; }
  .secondary-nav__item {
    padding: 0 10px;
    position: relative; }
    .secondary-nav__item > a {
      color: #767676;
      line-height: 18px; }
    .secondary-nav__item:not(:last-child):after {
      position: absolute;
      content: '/';
      right: 0; }
    .secondary-nav__item_active > a {
      text-decoration: none; }
    .secondary-nav__item:first-child {
      padding-left: 0; }
    .secondary-nav__item:last-child {
      padding-right: 0; }

.sidebar-list {
  list-style: none;
  font-size: 16px;
  line-height: 26px;
  margin-bottom: 100px; }
  .sidebar-list__item > a {
    color: #767676;
    text-decoration: none; }
  .sidebar-list__item_active > a {
    text-decoration: underline; }
  .sidebar-list__subitem {
    font-size: 14px;
    list-style-type: disc;
    margin-left: 20px; }
    .sidebar-list__subitem > a {
      color: #767676;
      text-decoration: none; }
    .sidebar-list__subitem_active {
      font-weight: bold;
      text-decoration: underline; }

.price-list {
  text-align: center;
  cursor: pointer; }
  .price-list > img {
    width: 97px;
    height: 111px; }
  .price-list > p {
    font-size: 30px;
    line-height: 26px;
    font-weight: bold; }

.card {
  padding: 20px;
  background-color: #dcdcdc;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  cursor: pointer; }
  .card__main-block .main-block__photo-container {
    width: 210px;
    height: 210px;
    overflow: hidden;
    color: #fff;
    padding-bottom: 20px; }
    .card__main-block .main-block__photo-container > img {
      width: 100%;
      height: 100%; }
  .card__main-block .main-block__title {
    font-size: 18px;
    line-height: 18px; }
  .card__buying-block {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between; }
    .card__buying-block .price {
      font-size: 28px;
      font-weight: bold;
      line-height: 18px; }
    .card__buying-block .basket {
      margin-right: 20px; }

.pagination__item {
  padding-right: 0.6em;
  cursor: pointer; }
  .pagination__item:last-child {
    padding-right: 0; }
  .pagination__item_active {
    font-size: 16px;
    font-weight: bold; }

.footer {
  color: #fff; }
  .footer__left-block {
    width: 70%; }
  .footer__center-block .list {
    list-style: none; }
    .footer__center-block .list__item {
      line-height: 26px; }
      .footer__center-block .list__item > a {
        color: #fff; }
  .footer__right-block .content {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: center;
        justify-content: center; }
    .footer__right-block .content__logo {
      width: 38px;
      height: 38px;
      overflow: hidden;
      color: #fff; }
      .footer__right-block .content__logo > img {
        width: 100%;
        height: 100%; }
    .footer__right-block .content__text {
      margin-left: 10px;
      -ms-flex-preferred-size: 55%;
          flex-basis: 55%; }
      .footer__right-block .content__text > a {
        color: #fff;
        margin-right: 3px; }

.form {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
  width: 466px;
  height: 578px;
  background-color: #fff;
  padding: 20px 60px;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around; }
  .form__title {
    font-size: 24px;
    font-weight: bold;
    text-transform: uppercase; }
  .form__input-block {
    width: 100%;
    text-align: center; }
    .form__input-block .form__name,
    .form__input-block .form__tel,
    .form__input-block .form__email {
      border: 1px solid #c3c3c3;
      width: 100%;
      height: 44px;
      outline: none;
      padding: 0 15px; }
      .form__input-block .form__name_empty,
      .form__input-block .form__tel_empty,
      .form__input-block .form__email_empty {
        border-color: #ff8383;
        box-shadow: inset 0px 0px 13px 0px rgba(228, 106, 106, 0.75);
        color: #dc7f7f;
        font-style: italic; }
    .form__input-block > textarea {
      width: 100%;
      height: 144px;
      outline: none;
      padding: 15px; }
  .form__submit-btn {
    width: 128px;
    height: 42px;
    background-color: #777777;
    border: none;
    color: #fff;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold; }
  .form__close-btn {
    position: absolute;
    top: 0;
    right: 0;
    width: 27px;
    height: 27px;
    background-color: #777777;
    -ms-transform: translate(100%, -100%);
        transform: translate(100%, -100%);
    cursor: pointer; }
    .form__close-btn:before {
      position: absolute;
      content: '';
      color: #fff;
      border-right: 1px solid #fff;
      height: 20px;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%) rotate(45deg);
          transform: translate(-50%, -50%) rotate(45deg); }
    .form__close-btn:after {
      position: absolute;
      content: '';
      color: #fff;
      border-right: 1px solid #fff;
      height: 20px;
      top: 50%;
      left: 50%;
      -ms-transform: translate(-50%, -50%) rotate(-45deg);
          transform: translate(-50%, -50%) rotate(-45deg); }
